.dashboardContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(46, 122, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.dashboardContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    background-color: rgb(31, 93, 173);
    top: 35%;
    z-index: -1;
}

.logo-container-dash {
    width: 350px;
    height: 300px;
    position: absolute;
    background-color: white;
    background-image: url(../../quizzapp.png);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 7px solid yellow;
    animation: logo .6s;
}

@keyframes logo {
    from {transform: rotate(230deg);}
    to {transform: rotate(360deg);}
}

.pulse {
    width: 350px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    from {transform: scale(0);
          opacity: 0.75;}
    to {transform: scale(1.5);
        opacity: 0;}
}

.grayBar {
    width: 100%;
    height: 100px;
    background-color: gray; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    animation: greyBar .5s;
}

@keyframes greyBar {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

.lineBox {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: lineBox .7s;
}

@keyframes lineBox {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}

.line {
    width: 700px;
    height: 3px;
    background-color: white;
}

.midLine {
    width: 800px;
    height: 3px;
    background-color: white;
    animation: lineBox .7s linear;
}

@keyframes lineBox {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}

.logo-dash {
    height: 300px;
    width: 500px;
    display: flex;
    border-radius: 50%;
}

.game-title {
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: bolder;
    text-shadow: 2px 2px 0px white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    /* letter-spacing: 10px; */
    letter-spacing: 5px;
}
.buttonBar {
    display: flex;
    justify-content: center;
}

.dash-btn {
    margin: 0 7px;
    border-radius: 7px;
    background-color: yellow;
    font-weight: 800;
    border: 3px solid white;
    transition: .4s;
}

.quick-start {
    display: none;
}

.dash-btn:hover {
    border: 3px solid gray;
}

.dash-btn:focus {
    outline: none;
}

.authContainer {
    margin: 13px 0;
    
}

.dash-auth-container {
    display: flex;
    justify-content: center;
}

.user-pass {
    border-radius: 7px;
    margin-right: 5px;
    background-color: rgb(255, 255, 96);
}

.user-pass:focus {
    outline: none;
}

.user-pass-submit {
    background-color: white;
    border-radius: 7px;
    font-weight: 600;
}

.user-pass-submit:hover {
    background: yellow;
}

.user-pass-submit:focus {
    outline: none;
}