.lobbyContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(46, 122, 223);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.left-container {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo-container {
    height: 25%;
    width: 90%;
    background-color: white;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../quizzapp.png);
    border-radius: 50%;
}

.games-container {
    display: flex;
}

.custom-games-box {
    /* margin-top: 10px; */
    height: 350px;
    width: 150px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    margin: 0 10px;
    border-top-left-radius: 10px;
}

.custom-game-btn {
    width: 100%;
    height: 30px;
}

.games-box {
    /* margin-top: 10px; */
    height: 350px;
    width: 250px;
    background-color: white;
    display: flex;
    margin: 0 10px;
    border-top-right-radius: 10px;
}

.right-container {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.chat-container {
    height: 600px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* justify-content: space-evenly; */
    /* align-items: center; */

}

.upper-chat {
    height: 580px;
    width: 500px;
    display: flex;
}

/* Needs fixing */
.input-btn-bar {
    width: 500px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border: 1px black solid;
}

.chat-input {
    display: flex;
    width: 400px;
    font-size: 28px;
}

.chat-send-btn {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
