/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 122, 223);
}

.gameBoard {
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 253, 243);
  width: 800px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  justify-content: space-evenly;
  /* border: 2px solid lightblue; */
  padding-bottom: 10px;
}

.card {
  width: 10%;
  height: 150px;
  /* background-color: aquamarine; */
  margin: 10px;
}

.otherCard {
  /* display: inline-block;
  width: 10%;
  height: 150px;
  background-color: rgb(96, 98, 190);
  margin: 10px;
  border: 10px red solid; */
}

.c {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  /* max-width: 10%; */
  max-height: 150px;
  width:  100px;
  height: 150px;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius:7px;
}

.card-parent {
  margin-top: 15px;
  /* border: green 3px solid; */
  width:  100px;
  height: 150px;
  background-clip: padding-box;
  overflow: hidden;
  /* position: fixed; */
}

.card-parent > * {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-parent:hover {
  /* border-color: grey; */
  transform-origin: center;
  transform: scale(1.035);
} 

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(./cardback.png);
  background-size: 100px 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.front {
  background-image: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg);
}

.btn-container-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
  position: relative;
}

.gameContainer {
  display: flex;
  justify-content: space-evenly;
}

.chatWindow {
  float: right;
  width: 500px;
  height: 100vh;
  background-color: rgb(47, 163, 240);
  border-radius: 10px;
}

.btn {
  height: 25px;
  color: rgb(53, 52, 52);
  font-weight: bolder;
}

.q-a-text {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  margin-top: 5px;
}